
/* Cambiar el color de fondo de la p치gina */
body {
    background-color: #add8e6; /* Celeste */
    color: #333; /* Color del texto */
    font-family: 'Arial', sans-serif;
}

/* Cambiar el color de los encabezados */
h1, h2, h3, h4, h5, h6 {
    color: #2c3e50; /* Azul oscuro */
}

/* Cambiar el color de los enlaces */
a {
    color: #e74c3c; /* Rojo vibrante */
    text-decoration: none;
}

a:hover {
    color: #c0392b; /* Rojo m치s oscuro al pasar el cursor */
    text-decoration: underline;
}

button:hover {
    background-color: #2980b9; /* Azul m치s oscuro al pasar el cursor */
}
/* Cambiar el color de los enlaces a azul */
a {
    color: #0000FF; /* Azul */
    text-decoration: none;
}

a:hover {
    color: #00008B; /* Azul m치s oscuro al pasar el cursor */
    text-decoration: underline; /* Subraya el enlace al pasar el cursor */
}
