
/* Cambiar el color de fondo de la página */
body {
    background-color: #add8e6; /* Celeste */
    color: #333; /* Color del texto */
    font-family: 'Arial', sans-serif;
}

/* Cambiar el color de los encabezados */
h1, h2, h3, h4, h5, h6 {
    color: #2c3e50; /* Azul oscuro */
}

/* Cambiar el color de los enlaces */
a {
    color: #e74c3c; /* Rojo vibrante */
    text-decoration: none;
}

a:hover {
    color: #c0392b; /* Rojo más oscuro al pasar el cursor */
    text-decoration: underline;
}

button:hover {
    background-color: #2980b9; /* Azul más oscuro al pasar el cursor */
}
