body {
    background-color: #CBD2D0; /* Un fondo más claro */
    color: #333; /* Texto más oscuro para mejor contraste */
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
}

/* Mejorar encabezados */
h1, h2, h3, h4 {
    color: #2c3e50; /* Azul oscuro */
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

/* Estilo para enlaces */
a {
    color: #007BFF; /* Azul más vibrante */
    text-decoration: none;
}

a:hover {
    color: #0056b3; /* Azul más oscuro al pasar el cursor */
    text-decoration: underline;
}

/* Estilo para secciones */
section {
    margin-bottom: 40px;
}

/* Mejorar espaciado y padding */
p {
    margin-bottom: 15px;
    padding: 5px 0;
}
